@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    }

/* Shared styles */
.explore{
    width: 270px;
    height: 56px;
    background-color: aquamarine;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-weight: bold;  
    }
nav{
    padding: 30px 0;   
    }
html {
    font-family: "Fira Sans", serif;
    font-size: 10px;
    background-color: var(--background-color);
    } 
    p{
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 15px;
    }

     body{
    font-family: "Fira Sans", serif;
    font-size: 10px;
    background-color: var(--background-color);
    } 

    a{
    text-decoration: none;
    }

    img{
    width: 100%;
    }

.btn{
    display: inline-block;
    padding: 10px 20px;
    transition: all 300ms;
    font-weight: bold;
    font-size: 14px;
    }

.btn-primary{
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 8px;
    transition: all 300ms;
    }

.btn:hover{
    filter: brightness(80%);
    }

.container{
    width: 80vw;
    max-width: 1140px;
    margin: auto;
    }

section{
    margin-bottom: 50px;
    }

.section-title{
    font-weight: 800;
    color: var(--text-color-dark);
    font-size: 40px;
    margin-bottom: 20px;
    }

.section-description{
    margin-bottom: 30px;
    }

.box-item-heading{
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color-dark);
    margin: 1.6rem 0;
    }

:root{
    --primary-color: #006A50;
    --secondary-color: #C6E4D6;
    --background-color: #F5F5F5;
    --text-color-dark: #0E0E0E
    --text-color-light: #fff;
    }

/* hero styles */

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

nav .logo{
    
    font-size: 32px;
    display: block;
    font-weight: 500;
    color: var(--text-color-dark);
    }

nav .btn-sign-in{
    color: var(--primary-color);
    font-weight: 500;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 15px 30px;
    display: inline-block;
    transition: all 300ms;
    font-weight: bold;
    font-size: 18px;
    }

nav .btn-sign-in:hover{
    background-color: var(--primary-color);
    color: hwb(0 100% 0%);
    }

#hero .container{
    background-color: var(--secondary-color);
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 80px 60px;
    gap: 64px;
    }

.hero-content{
    width: 60%;
    }

.hero-img{
    width: 40%;
    }

.hero-content .subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    margin-bottom: 24px;
    }

.hero-content .title{
    color: var(--text-color-dark);
    font-size: 56px;
    margin-bottom: 24px;
    }

/* Vision styles */

.vision-boxes{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    }

.vision-boxes .box-item{
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    transition: all 300ms;
    }

.vision-boxes .box-item img{
    width: 64px;
    height: 64px;
    }

.vision-boxes .box-item:first-child{
    background-color: rgba(40, 95, 191, 0.300);
    }

.vision-boxes .box-item:nth-child(2){
    background-color: rgba(76, 149, 115, 0.300);
    }

.vision-boxes .box-item:last-child{
    background-color: rgba(252, 187, 34, 0.300);
    }

.vision-boxes .box-item:hover{
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    }

.vision-boxes .box-item p{
    margin-bottom: 16px;
    }

.box-item-btn{
    color: white;
    border-radius: 8px;
    }

.vision-boxes .box-item:first-child a{
    background-color: #5490F5;
    }

.vision-boxes .box-item:nth-child(2) a{
    background-color: #09A15C;
    }

.vision-boxes .box-item:last-child a{
    background-color: #FFC239;
    }

/* Younus kakar boyan styles */

.quote-box{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 48px 24px;
    background-color: white;
    background-position: 24px 24px;
    border-radius: 24px;

    }

.quote-box .quote{
    margin-bottom: 16px;
    }

.quote-box .quote-author{
    font-weight: 800;
    font-size: 20px;
    }

.quote-box .quote-designation{
    opacity: 0.6;
    }

/* News styles */

.news-card{
    display: flex;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
    gap: 32px;
    margin-bottom: 24px;
    }

.news-img{
    width: 40%;
    border-radius: 24px;
    overflow: hidden;
    }

.news-img img{
    border-radius: 32px;
    }

.news-content{
    width: 60%;
    }

.news-content .news-title{
    font-size: 32px;
    }

.news-content img{
    width: 25%;
    display: inline-block;
    margin-bottom: 12px;
    }

.news-content p{
    margin-bottom: 12px;
    }

/*Donate styles */

#donate{
    text-align: center;
    }

#donate .container{
    padding: 0 30px;
    }

.donation-boxes{
    display: flex;
    gap: 30px;
    margin: 32px;
    }

.donation-item{
    flex-grow: 1;
    background-color: white;
    padding: 20px 50px;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 800;
    transition: all 300ms;
    }

.donation-item:nth-child(2){
    background-color: var(--secondary-color);
    }

.donation-item:hover{
    background-color: rgba(72, 156, 116, 443);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 2));
    color: white;
    }

#donate input{
    
    width: 90%;
    margin: auto;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--secondary-color);
    }

#donate input::placeholder{
    opacity: 0.7;
    font-size: 20px;
    }

#donate a{
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    }

/* newsletter styles */

#newsletter .container{
    background-color: var(--secondary-color);
    border-radius: 24px;
    text-align: center;
    padding: 60px 0;
    }

#newsletter .section-description{
    width: 50%;
    margin: 20px auto;
    }

#newsletter .subscription{
    width: 70%;
    margin: auto;
    margin-bottom: 16px;
    
    }

#newsletter .subscription input{
    display: inline-block;
    width: 75%;
    height: 40px;
    margin-right: 0;
    padding: 0 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    vertical-align: middle;
    }

#newsletter .subscription a{
    display: inline-block;
    color: white;
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    margin-left: -5px;
    background-color: var(--primary-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    }

#newsletter .sub-info{
    color: rgba(14, 14, 14, 0.7);
    font-size: 10px;
    font-weight: bold;
    }

/*Footer styles*/

footer{
    text-align: center;
    background-color: white;
    padding: 50px 20%;
    }

 footer hr {
    border: 1px solid #ccc;
    margin: 10px 0 20px 0;
    
    }

footer .social-icons{
    text-align: center;
    }

footer .social-icons img{
    height: 24px;
    width: 24px;
    display: inline-block;
    margin: 0 10px;
    transition: all 300ms;
    }

footer .social-icons img:hover{
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    }