@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}


.explore{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}

nav{
    padding: 30px 0;
    
}


html, body{
    font-family: "Fira Sans", serif;
    font-size: 10px;
    background-color: var(--background-color);
}


p{
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 15px;
}


a{
    text-decoration: none;
}


img{
    width: 100%;
}

.btn:hover{
    filter: brightness(80%);
}


.container{
    width: 800px;
    max-width: 1140px;
    margin: auto;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .logo{
    
    font-size: 30px;
    display: block;
    font-weight: 500;
    color: var(--text-color-dark);

}



nav .btn-sign-in{

    font-weight: 500;
    border-radius: 8px;
    padding: 15px 30px;
    display: inline-block;
    
    font-weight: bold;
    font-size: 18px;
    
}



nav .btn-sign-in:hover{
    background-color: #006A50;
    color: hwb(0 100% 0%);
}



#hero .container{
    background-color: #006A50;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 80px 60px;
    gap: 7px;
}



.hero-content{
    width: 60%;
}



.hero-img{
    width: 40%;
}



.hero-content .subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 25px;
    margin-bottom: 25px;
}



.hero-content .title{
    color: var(--text-color-dark);
    font-size: 50px;
    margin-bottom: 24px;

}


/*---------------------------------------- */

